/*Footer */
.main-footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  font-family: 'Inter', sans-serif;

  .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  flex-wrap: wrap;
}

}