/* Reseteo pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1a1a1a;
  color: white;
}

.titulo-header {
  font-size: 24px;
  color: #ff4d00;
  user-select: none;
}

.usuario-barra{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
  background-color: #6b6a6a;
  border-radius: 50px;
  cursor: pointer;
}

nav{
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ff4d00;
}

.area-usuario{
  display: flex;
  align-items: center;
  gap: 30px;

}

.fa-cart-shopping {
  font-size: 20px;
  color: white;
  cursor: pointer;
}


.usuario-barra img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.usuario-barra p {
  color: white;
  font-size: 14px;
}


/* Banner */
.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

/* Noticias */
.noticias {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
  background-color: #f9f9f9;
}

.noticia {
  width: 200px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.noticia img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.noticia h4 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.noticia p {
  font-size: 0.9rem;
  color: #555;
}


/*Footer */
.main-footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  font-family: 'Inter', sans-serif;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  flex-wrap: wrap;
}

.footer-bottom i{
  cursor: pointer;
  font-size: 25px;
}
.footer-bottom i:hover{
  color: #ff4d00;
}